* {
    -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
}

#es_section {
    width: 768px;
    color: #AAAAAA;
    font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#es_title {
    margin: 0;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}

.erlshell {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

#es_div {
    height: 360px;
    overflow-y: auto;
    background-color: #FFFFFF;
    padding: 0 5px 10px;
}

#es_div .esshell_welcome {
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 5px 0;
}

#es_div table, #es_div tr, #es_div td {
    margin: 0;
    padding: 0;
    border: 0;
}

#es_status {
    padding: 0 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 100px;
    height: 30px;
    line-height: 30px;
    background: #FAFAD1;
    opacity: 0.8;
    border-radius: 0 0 5px 5px;
    text-align: center;
    color: #000;
    display: none;
}

#es_close {
    display: none;
    float: right;
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 10px;
    color: #C7CCD1;
    cursor: pointer;
}

#erlshell_tips {
    margin: 80px auto 20px;
    width: 260px;
    border: 0 solid #EDEDED;
    font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 5px 5px;
}

#erlshell_tips ul, #erlshell_tips ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#erlshell_tips ul {
    margin-left: 15px;
}

#erlshell_tips ul li {
    list-style-type: circle;
}

#erlshell_tips #erlshell_readmore {
    margin: 5px 10px;
    text-align: right;
}

#erlshell_readmore a, #erlshell_readmore a:active {
    color: #AAAAAA;
    text-decoration: underline;
    outline: none;
}

#erlshell_readmore a:hover {
    color: #00A9DA;
    text-decoration: none;
}

.erlshell .es_line {
    width: 100%;
    border: 0 solid #000;
}

.erlshell .es_num {
    width: 20px;
    height: 20px;
    line-height: 25px;
    text-align: center;
}

.erlshell .es_str {
    height: 20px;
    line-height: 20px;
}

.erlshell #es_command_line {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    outline: none !important;
    background-color: #F0FBFD;
    color: #000;
}
